  body {
background-color: rgba(46, 47, 66, 0.8);
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
overflow: hidden;
  }

  /* L i*/
  ul,
  ol {

      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  .gallery {
    padding: 24px 156px 24px 156px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      list-style: none;
      
  }
 .gallery-link {
  width: 360px;
  height: 200px;
  display: block;
 }
.gallery-item {
  width: 360px;
    height: 200px;
    display: block;
}