  body {
background-color: rgba(46, 47, 66, 0.8);
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
overflow: hidden;
  }

  /* L i*/
  ul,
  ol {

      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  .gallery {
    width: 1300px;
    height: 700px;
    padding: 90px 156px 156px 156px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      list-style: none;
      object-fit: cover;
     
  }
 .gallery-link {
  width: 415px;
  height: 215px;
  display: block;
 }
.gallery-item {
  width: 415px;
    height: 215px;
    display: block;
}
/* sa */